<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrowdCraft</title>
    <link rel="stylesheet" href="/css/crowdcraft.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <header>
        <nav class="container">
          <h1><a href="/">CrowdCraft</a></h1>
          {{#if logged_in}}
            <a href="/profile">Profile</a>
            <button
              class=".btn btn-sm btn-secondary"
              id="logout"
            >Logout</button>
          {{else}}
            <a href="/login" class="btn btn-primary btn-sm">Login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container mt-4">
        {{{body}}}
      </main>
      <footer>
        <p>&copy; {{getYear}} CrowdCraft</p>
      </footer>
    </div>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>