<div class="container mt-4 form-grid">
  <div class="mb-4">
    <h2 class="text-center">Login</h2>

    <form class="login-form card">
      <div>
        <label for="email-login">Email:</label>
        <input type="email" id="email-login" name="email" required />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" name="password" required />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  <div class="mt-4">
    <h2 class="text-center">Signup</h2>

    <form class="signup-form card">
      <div>
        <label for="name-signup">Name:</label>
        <input type="text" id="name-signup" name="name" required />
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="email" id="email-signup" name="email" required />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" name="password" required />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>